.button__write-review {
    background: none;
    border: 1px solid lighten(gray, 20%);
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-family: cereal;
    font-size: 16px;
    font-weight: bold;
    height: 5vh;
    padding: 0px 10px;
    margin: 3px;
    &:hover {
        background-color: lighten(gray, 30%);
    }
}

.review__btn {
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
}

.go-top-btn {
    background-color: #9a8ccf;
    border: none;
    border-radius: 20px;
    bottom: 5px;
    color: white;
    cursor: pointer;
    font-family: cereal;
    font-weight: bold;
    right: 5px;
    padding: 10px 15px;
    position: fixed;
}

.button__back {
    background-color: #F9F6EE;
    border: none;
    cursor: pointer;
    left: 30px;
    font-size: 16px;
    position: absolute;
    top: 30px;
}

.back-btn-text {
    font-size: 20px;
}

.show-more-btn {
    background-color: #9a8ccf;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: cereal;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    padding: 0px 10px;
}