.city-card__container {
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    height: 15vh;
    justify-content: center;
    width: 60vw;
    max-width: 280px;
    @media (min-width: 1025px) {
        width: 15%;
        height: 100%; // 25vh
    }
}

.city-card__content {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 5px;
    @media (min-width: 770px) {
        font-size: 20px;
        padding: 5px 10px;
    } 
}

.city-card__link {
    border: none;
    box-shadow: 1px 1px 10px gray;
    text-decoration: none;
}