.city__card-container {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10vw;
  height: 20vh;
  width: 100%;
}

.city__city-card {
  margin: 10px;
}

.city__cards {
  border-top: 1px solid lighten(gray, 30%);
  padding-bottom: 50px;
}

.city__slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.city__slide span {
  color: white;
  padding: 20px;
  font-size: 20px;
  background: black;
  text-align: center;
  text-decoration: none;
}

.city__image {
  height: 10%;
  width: 30%;
}

.city__link {
  color: white;
  text-decoration: none;
}

.city__info-container {
  display: flex;
  flex-direction: column;
}

.city__info-header {
  margin-left: 3vw;
  margin-top: 1vw;
}


.city__info-subsection {
  margin-bottom: 3vh;
  margin-left: 3vw;
  width: 60%;
}

.city__subsection-container {
  align-items: center;
  display: flex;
  margin: 10px auto 30px auto;
}

.city__goal {
  border-top: 1px solid lighten(gray, 30%);
}

.city__who {
  height: 50%;
}