.header-container {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 100%;
  }

.header__icon {
    height: 0px;
    width: 0px;
    @media (min-width: 415px) {
      height: 35px;
      width: 30px;
    }
}

.header-layout {
  width: 100%;
}

.header-title {
  font-size: 28px;
  margin: 30px;
  text-decoration: none;
  &:hover {
    color: red;
  }
  @media (min-width: 400px) {
      font-size: 36px;
  }
}

.link {
  align-self: center;
  color: white;
  text-decoration: none;
  &:hover {
    color: red;
  }
}
