.list__restaurant-contact {
    display: none;
    @media (min-width: 1330px) {
        display: flex;
        flex-direction: column;
        font-weight: bolder;
        text-align: right;
        margin: auto 5% auto auto;
    }
}
  
.list__restaurant-link {
    background-color: black;
    border-radius: 10px;
    color: white;
    display: block;
    height: 175px;
    margin: 10px auto;
    text-decoration: none;
    width: 60%;
}

.list__restaurant-card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 740px) {
        display: flex;
        flex-direction: row;
        &:hover {
            background-color: rgb(34, 34, 34);
            height: 100%;
            transition: background-color .3s ease;
        }  
    }
}

.list__feed-img {   
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: block;
    height: 87.5px;
    object-fit: cover;
    width: 100px;
    @media (min-width: 740px) {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0px;
        display: block;
        height: 175px;
        width: 200px;
    }
}

.list__restaurant-name {
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    @media (min-width: 740px) {
        margin: auto auto auto 20%;
        // text-align: left;
        width: 150px;
    }
}

.list__restaurant-name-container {
    text-align: center;
    width: 100%;
    @media (min-width: 740px) {
        margin: auto auto auto 10%;
        width: 20%;
    }
}

