.restaurant-page-container-test {
    display: grid;
    grid-template-columns: .4fr .6fr
}

// Left
.page-info-div {
    display: grid;
    align-items: center;
    grid-template-rows: .1fr .1fr .5fr .3fr;
    gap: 3vh;
    justify-content: center;
    border-right: 1px solid black;
    height: 92vh;
}

.test-image {
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.title-div {
    margin-top: 0;
    align-self: center;
}

.title {
    font-size: 48px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 3vh;
}

.shop-info {
    font-size: 24px;
    text-align: center;
}

.ratings-container {
    text-align: center;
}

// Right
.review-div {
    display: grid;
    grid-template-rows: .15fr .85fr;
    height: 92vh;
}

.review-div-text {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.review-container-test {
    align-items: center;
    background: linear-gradient(#fdbd88, #c0cfb2 );
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.place-name {
    color: white;
}

.place-card-medium {
    color: white;
}