.restaurant-page__container {
    display: flex;
}

// Left
.restauraunt-page__info-container {
    background-color: #F9F6EE;
    display: grid;
    align-items: center;
    grid-template-rows: .1fr .1fr .5fr .3fr;
    gap: 3vh;
    justify-content: center;
    height: 92vh;
    position: fixed;
    width: 30%;
}

.restaurant-page__image {
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.restaurant-page__title-container {
    margin-top: 0;
    align-self: center;
}

.restaurant-page__title {
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 3vh;
    text-align: center;
    width: 400px;
}

.restaurant-page__info {
    font-size: 20px;
    text-align: center;
}

.restaurant-page__info-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

// Right
.restaurant-page__review-container {
    border-left: 1px solid lighten(gray, 30%);
    background-color: #eef1f9;
    display: flex; 
    flex-direction: column; 
    height: 92vh;
    width: 100%;
    margin-left: 30%;
    overflow-y: auto;
}

.restaurant-page__no-reviews {
    text-align: center;
}

