.review {
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    min-height: 20vh;
}

.review__count {
    font-weight: bold;
    margin: 5px auto 5px auto;
}

.review__date {
    color: gray;
    font-size: 14px;
    font-style: italic;
    margin-right: 3px;
    width: 100%;
}

.review__item-container {
    border: 1px black;
    margin: 5px auto 5px auto;
    width: 80%;
    word-break: break-all;
}

.review__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.review__content {
    padding: 20px;
    text-align: left;
    width: 75%;
    white-space: pre-line;
    word-break: break-word;
}

.review__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    text-align: right;
    width: 220px;
}


.review__ratings {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    border-right: 1px solid black;
    padding: 10px 0 10px 10px;
    text-align: left;
    width: 150px;
}

.review__text {
    font-size: 18px;
    padding: 10px 5px 0 10px;
    margin: 20px;
}

.review__add-button-container {
    justify-content: flex-start;
    text-align: center;
    margin-top: 10px;
    width: 100%;
}
