.review-form {
    background-color: lighten(gray, 40%);
    border: 1px solid lighten(gray, 10%);
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 82vh;
    margin: 20px auto;
    padding: 30px 30px 0 30px;
    width: 60vw;
    @media (min-width: 440px) {
        height: 40vh;
    }
    @media (min-width: 770px) {
        width: 60vw;
    }
    @media (min-width: 1025px) {
        width: 40vw;
        height: 35vh;
        padding: 30px;
    }
}

.review-form__container {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
    align-items: center;
    @media (min-width: 430px) {
        display: grid;
        grid-template-columns: .3fr .7fr;
        gap: 30px;
        margin-top: 10px;
        text-align: left;
    }
}

.review-form__ratings {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.review-form__submit-button {
    background-color: darken(#A5C9FF, 5%);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: cereal;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin-top: 20px;
    width: 125px;
    &:hover {
        background-color: darken(#A5C9FF, 10%);
    }
}

.review-form__textarea {
    border: none;
    border: 1px solid lighten(gray, 30%);
    border-radius: 5px;
    font-family: cereal;
    font-size: 16px;
    padding: 10px;
    resize: none;
    width: 60vw;
    height: 35vh;
    word-break: normal;
    @media (min-width: 440px) {
        height: 30vh;
        width: 40vw
    }
    @media (min-width: 1025px) {
        height: 30vh;
        width: 30vw;
    }
}

.review-rating-container--update {
    display: grid;
    grid-template-columns: .3fr .7fr;
}