.review {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.review__count {
    color: orange;
    font-weight: bold;
    margin: 10px auto;
}

.review__date {
    color: gray;
    font-size: 14px;
    font-style: italic;
    margin-right: 3px;
    width: 100%;
}

.review__item-container {
    border: 1px black;
    padding: 10px;
    width: 80%;
    word-break: break-all;
}

.review__message {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}


.review__content {
    padding: 20px;
    text-align: left;
    width: 75%;
    white-space: pre-line;
    word-break: break-word;
}

.review__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    text-align: right;
    width: 220px;
}


.review__ratings {
    border-right: 1px solid black;
    padding: 10px 5px 0 10px;
    text-align: left;
    width: 150px;
}


// Review Form

.review__textarea {
    border: none;
    border-radius: 5px;
    font-family: cereal;
    font-size: 16px;
    height: 200px;
    padding: 5px;
    resize: none;
    width: 272px;
    word-break: normal;
    @media (min-width: 770px) {
        height: 200px;
        width: 450px;
    }
    @media (min-width: 1160px) {
        height: 200px;
        width: 600px;
    }
}

.review-form {
    background-color:#c5bde2;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 250px;
    margin: 20px auto;
    padding: 30px 5px 10px 5px;
    width: 300px;
    @media (min-width: 770px) {
        height: 250px;
        width: 500px;
    }
    @media (min-width: 1160px) {
        height: 327px;
        width: 677px;
    }
}

.review-form-rating {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    width: 30px;
}

.review-form-title {
    font-family: cereal;
    font-weight: bold;
    margin-bottom: 5px;
}

.review-submit {
    background-color: #9a8ccf;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-family: cereal;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin-top: 20px;
    width: 125px;
    &:hover {
        background-color: rgb(61, 61, 61);
    }
}

.review-rating-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
    text-align: right;
    @media (min-width: 770px) {
        grid-template-columns: repeat(4, .25fr, .2fr, .3fr, .25fr);
        text-align: right;
    }
    @media (min-width: 1160px) {
        grid-template-columns: repeat(4, 1fr);
        text-align: left;
    }
}

.review-rating-container--update {
    background-color: #c5bde2;
}
