@font-face {
  font-family: "proxima";
  src: local("proxima"), url(./fonts/FontsFree-Net-Proxima-Nova-Light.otf)
}
body {
  background-color: #E5D3b3;
  font-family: proxima;
}
.feed-img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 175px;
  width: 200px;
}

/* Header */
.header-container {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 100%;
}

.header-title {
  font-size: 24px;
  margin: 30px auto;
  text-decoration: none;
}

.header-title:hover {
  color: red;
}

/* Restaurant */

.image-container {
  align-items: left;
  
}

.link {
  color: white;
  text-decoration: none;
}

.restaurant-card {
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  height: 175px;
  margin: 10px auto;
  justify-content: space-between;
  width: 50%;
}

.restaurant-card:hover {
  background-color: rgb(34, 34, 34);
}

.restaurant-contact {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: auto 5% auto auto;
}

.restaurant-name {
  font-size: 24px;
  font-weight: bold;
  margin: auto auto auto 20%;
  text-align: left;
}

.restaurant-name-container {
  margin: auto auto auto 10%;
  text-align: left;
  width: 300px;
}

/* Restaurant Page */
.restaurant-page-contact {
  font-size: 18px;
  margin: 10px auto;
}

.restaurant-page-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  /* width: 80%; */
}

.restaurant-page-image {
  width: 380px;
  height: 380px;
  margin-top: 10px;
}

.restaurant-page-image:active {
  cursor: zoom-in;
  width: 20%;
  height: 20%;
}

.restaurant-page-name {
  font-size: 32px;
  margin: 40px auto;
}


/* Review */

.review-form {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
}