@font-face {
    font-family: "cereal";
    src: local("cereal"), url("../../../src/fonts/AirbnbCerealLight.woff");
}
@font-face {
    font-family: "cereal-bold";
    src: url("../../../src/fonts/AirbnbCerealBold.woff");
}
  
  
body {
    background-color: #F9F6EE;
    font-family: "cereal";
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
